<body class="account-form-body">
    <div class="container u-v-align">
        <h1 class="account-form-logo">cm app</h1>
        <div class="row">
            <form id="loginform" name="loginform" method="post" class="six columns u-h-align account-form">
                <legend class="account-form-leg">Log In</legend>

                <input type="text" name="email" placeholder="Email" class="u-full-width account-form-input" />

                <input type="password" name="password" placeholder="Password" class="u-full-width account-form-input" />

                <input type="submit" id="loginbtn" value="Log In" class="u-full-width button-primary account-form-btn" />
            </form>
        </div>
        <p class="account-form-para">Don't have an account yet? <a href="/account/signup" class="account-form-link">Sign up.</a>
    </div>
</body>