<body class="account-form-body">
    <div class="container u-v-align">
        <div class="row">
            <form id="loginform" name="loginform" method="post" class="six columns u-h-align account-form">
                <legend class="account-form-leg">Log In</legend>

                <input type="text" name="email" placeholder="Email" class="u-full-width" />

                <input type="password" name="password" placeholder="Password" class="u-full-width" />

                <input type="submit" id="loginbtn" value="Login" class="u-full-width button-primary account-btn" />
            </form>
        </div>
    </div>
</body>