<body class="account-form-body">
    <div class="container u-v-align">
        <h1 class="account-form-logo">cm app</h1>
        <div class="row">
            <form name="signupform" method="post" class="six columns u-h-align account-form">
                <legend class="account-form-leg">Sign Up</legend>
                <input type="text" name="name" placeholder="Name" class="u-full-width account-form-input" />

                <input type="text" name="email" placeholder="Email" class="u-full-width account-form-input" />

                <input type="password" name="password" placeholder="Password" class="u-full-width account-form-input" />

                <input type="submit" id="signupbtn" value="Sign Up" class="u-full-width account-form-btn" />
            </form>
        </div>
        <p class="account-form-para">Already have an account? <a href="/account/login" class="account-form-link">Log in.</a>
    </div>
</body>