<body class="account-form-body">
    <div class="container u-v-align">
        <div class="row">
            <form name="signupform" method="post" class="six columns u-h-align account-form">
                <legend class="account-form-leg">Sign Up</legend>
                <input type="text" name="name" placeholder="Name" class="u-full-width" />

                <input type="text" name="email" placeholder="Email" class="u-full-width" />

                <input type="password" name="password" placeholder="Password" class="u-full-width" />

                <input type="submit" id="signupbtn" value="Sign Up!" class="u-full-width account-btn" />
            </form>
        </div>
    </div>
</body>