<!DOCTYPE html>
<html>
<head>
    <title>Authex - {{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    {{ yield }}
</body>
</html>